* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(47, 88%, 63%);
    /* set 100vh because default is fit only content not strech to end of screen */
    height: 100vh;
}

.card {
    background: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 5px 5px 0px #000 ;
    max-width: 320px;
    padding: 1.25rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* first value is going to right second go to buttom third blur fourth solid */
    box-shadow: 8px 8px 0px 1px;
    border: 1px solid black;
}

.card-img {
    width: 100%;
    /* this is how we increase height of image */
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 0.5rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    /* fit parent box */
    object-fit: cover;
}

.card-content {
    /* padding: 1.25rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-content p {
    font-size: 0.9rem;
}

.card-tag {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    background: hsl(47, 88%, 63%);
    color: #000;
    /* padding: 4px 8px; */
    border-radius: 0.25rem;
    padding: 0.4rem;
    font-weight: 800;
    font-size: 0.8rem;
}

time {
    font-size: 0.75rem;
    color: #333;
    font-weight: 800;
}

.card-title {
    font-size: 1.35rem;
    font-weight: 800;
}

.card-description {
    color: #555;

}

.card-author {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    gap: 10px;
}

.card-author img {
    width: 40px;
    height: 40px;
    /* profile pic be round */
    border-radius: 50%;
}

.card-author p {
    font-size: 14px;
    font-weight: 800;
}

@media (min-width: 768px) {
    .card {
        display: flex;
        max-width: 350px;
    }
    
    .card-description {
        font-size: 1rem;
    }
}